

.edit-it {
  border: 0px solid rgb(247, 243, 243);
  box-shadow: 1px 1px 5px #dcd4d4;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
}

.my-info iframe {
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-edit {
  border: 0px solid rgb(247, 243, 243);
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px #dbcccc;
}

.name-edit {
  height: 50px;
  margin-top: 20px;
}

.name-edit:focus {
  outline: none;
  border: 1.5px solid #10bc69;
}

.subject-edit {
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.subject-edit:focus {
  outline: none;
  border: 1.5px solid #10bc69;
}

.e-mail-edit {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.e-mail-edit:focus {
  outline: 0px;
  border: 1.5px solid #10bc69;
}

.message-edit {
  height: 334px !important;
  /* margin-top: 20px; */
  margin-bottom: 18px;
}

.message-edit:focus {
  outline: none;
  border: 1.5px solid #10bc69;
}

.btn2 {
  background-color: #10bc69;
  /* margin-left: 235px; */
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  border: none;
}

.btn2:focus {
  outline: 0px;
}

.form-sub {
  color: #5f687b;
  font-size: 34px;
  padding-bottom: 0;
}

#Contect{
    margin-top: 150px;
}